:root {
  --color-sale: var(--color-purple);;
  
  --color-purple: purple;
  --color-red: red;
  --color-green: green;
  --color-blue: blue;
}

hr, .cart__row:last-child {
border-top: 1px solid var(--color-sale);;
}

.cart__row:first-child {
  border-bottom: 1px solid var(--color-sale);;
}  
  
.grid-product__on-sale {
  border: 1px solid var(--color-sale);;
  color: var(--color-sale);;
}

.announcement-bar__message, .cart__row medium-down--hide cart__header-labels {
  border-bottom: 2px solid var(--color-sale);;
}
.cart-link__bubble, .cart-link__bubble--visible {
  color: var(--color-sale);;
  background: var(--color-sale);;
}
.update-cart {
  background: var(--color-sale);;
}
